<!DOCTYPE html>
<html>
<head>
    <title>Student Management</title>
</head>

<body>

<nav>

   
{% if current_user.is_authenticated %}
    <a href="{{ url_for('auth.profile') }}">Profile</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <a href="/students/">Students</a> 
    <a href="/courses/">Courses</a> 


{% else %}
    <a href="{{ url_for('auth.login') }}">Login</a>
{% endif %}
</nav>

<hr>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert {{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>
