{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }}
        {{ form.username() }}

        {% for error in form.username.errors %}
            <small>{{ error }}</small>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}
        {{ form.password() }}

        {% for error in form.password.errors %}
            <small>{{ error }}</small>
        {% endfor %}
    </p>

    {{ form.submit() }}

</form>

<p>
    Don't have an account?
    <a href="{{ url_for('auth.register') }}">
        Register
    </a>
</p>

{% endblock %}